* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f3f3f3;
  color: #222;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.welcome {
  font-size: 1.5rem;
  color: #333;
}

.logo {
  width: 4rem;
  height: 4rem;
  opacity: 0.9;
}

.login {
  display: flex;
  align-items: center;
}

.login__input {
  padding: 0.3rem 0.8rem;
  font-size: 1.2rem;
  width: 10rem;
  margin-right: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
}

.login__btn {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #444;
  transition: color 0.2s;
}

.login__btn:hover {
  color: #777;
}

.app {
  max-width: 90rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 12rem) auto;
  gap: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.balance__label {
  font-size: 1.6rem;
  font-weight: 500;
}

.balance__value {
  font-size: 3rem;
  font-weight: 400;
}

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.movements__row {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  margin-right: 1.2rem;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.4rem;
  margin-left: auto;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
}

.summary__label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.summary__value {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.summary__value--in {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.summary__value--interest {
  color: #3366cc;
}

.btn--sort {
  margin-left: auto;
  font-size: 1rem;
  border: none;
  background: none;
  font-weight: 500;
  cursor: pointer;
  color: #444;
}

.btn--sort:hover {
  color: #777;
}

.operation {
  border-radius: 0.7rem;
  padding: 1.2rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  gap: 0.3rem 0.7rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.1rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
}

.form__btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.sample {
  margin-left: 60rem;
  margin-top: -1rem;
}
